{% extends 'base.html' %}

{% block title %}
    Gestion de la Structure | EduTech Admin
{% endblock %}

{% block content %}
<style>
    body { background-color: #f1f5f9; }
</style>

<div class="page-shell" style="padding-top: 1rem;">
    <!-- ============================================== -->
    <!-- GESTION DE LA STRUCTURE                        -->
    <!-- ============================================== -->
    <div class="admin-shell">
        <div id="dashboard-structure">
            {% include 'core/partials/admin_structure.html' %}
        </div>
    </div>
</div>
{% endblock %}
