{% extends 'base.html' %}

{% block title %}Connexion | Plateforme Educative{% endblock %}

{% block content %}
<div class="auth-container">
    <section class="carte auth-carte">
        <h2>Connexion</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">Se connecter</button>
        </form>
        <p style="margin-top: 1rem; font-size: 0.9rem;">
            <a href="{% url 'accounts:password_reset' %}" hx-get="{% url 'accounts:password_reset' %}" hx-target="#zone-principale" hx-select="#zone-principale" hx-swap="outerHTML" hx-push-url="true">Mot de passe oublié ?</a>
        </p>
        <p style="margin-top: 0.5rem; font-size: 0.9rem;">Pas encore de compte ?
            <a href="{% url 'accounts:register' %}" hx-get="{% url 'accounts:register' %}" hx-target="#zone-principale" hx-select="#zone-principale" hx-swap="outerHTML" hx-push-url="true">Créer un compte</a>
        </p>
    </section>
</div>
{% endblock %}
